/*body {
    text-align: center;
}*/
nav, footer {
    text-align: center;
    background-color: steelblue;
    padding: 10px;
}
a {
    padding: 10px;
    color: white;
    margin: 40px;
    line-height: 1.5em;
}
h1, h2 {
    color: steelblue;
    text-align: center;
}
h1{
    margin: 50px 0;
}

img {
    padding: 15px;
    width: 80%;
    display: block;
    margin:  auto;
    border: 5px solid steelblue;
}
footer p {
    padding: 25px;
    color: white;
    font-size: 20px;
    margin: 20px auto; 
}
#active{
    background-color: white;
    color: steelblue;
}
a:hover {
    background-color: white;
    color: steelblue;
}
a {
    font-size: 1.5em;
    color: white;
    margin: 40px;
    line-height: 1.5em;
}
body {
    margin: 0;
}
